.body{
    display: grid;
    min-height: 90vh;
    grid-template-rows: auto 1fr auto;
}
header{
    height: 100px;
    width: 100%;
    background-color: rgb(255, 0, 51);
}
body {
    background-color: rgb(245, 245, 245);
}

header{
    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-size:x-large;
  font-weight: 700;
  font-style: italic;
  text-align:center;
  color: white;
  font-variation-settings:
    "wdth" 100;
}
#search_range {
    flex: 10;
    align-items: center;
    gap: 40px;
    display: flex;
    padding-left: 15px;
}

.search_lbl {
    
    flex-direction: column; /* Cambia el eje principal para apilar el texto */
    align-items: flex-start; /* Alinea el texto a la derecha */
    gap: 10px; /* Ajusta el espacio entre el texto y el deslizador */
    padding: 10px;
    font-size: 14px;
    text-align: right;
}

#search_value_range {
    padding-top: 5px;
    width: 150px;
}

#local
{
    position: inherit;
}
#submit {
    position: relative;
    margin: 3px;
    /*background-color: #f12323;*/
    /*color: #ffffff;*/
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.7em;
    padding: 4px 6px;
    width: 100px;
}
.search_lbl {
  display: flex;
  align-items: center;
  width: 48%;
}
#mapa 
{
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    left : 1000px;
}
#catdesc
{
    position: absolute;
    padding-left: 600px;
}