.body{
    display: grid;
    min-height: 90vh;
    grid-template-rows: auto 1fr auto;
}
header{
    height: 100px;
    width: 100%;
    background-color: rgb(255, 0, 51);
}
body {
    background-color: rgb(245, 245, 245);
}

header{
    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-size:x-large;
  font-weight: 700;
  font-style: italic;

  text-align:center;
  color: white;

  font-variation-settings:
    "wdth" 100;
}
#container {
    position: relative;
    width: 500px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#search_range {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
    padding: 20px;
    flex-direction: column;
}

#search_range_lbl {
    font-size: 14px;
    white-space: pre-wrap; /* Permite que el texto se divida en varias líneas */
    text-align: right; /* Alinea el texto a la derecha para una mejor presentación */
}

#search_value_range {
    width: 200px;
}
#local
{
    position: inherit;
}
#submit {
    position: relative;
    margin: 3px;
    /*background-color: #f12323;*/
    /*color: #ffffff;*/
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.7em;
    padding: 4px 6px;
    width: 100px;
}
.search_lbl {
  display: flex;
  align-items: center;
  width: 48%;
}
#mapa 
{
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    left : 100px;
}
