.body{
    display: grid;
    min-height: 90vh;
    grid-template-rows: auto 1fr auto;
}
header{
    height: 100px;
    width: 100%;
    background-color: rgb(255, 0, 51);
}
body {
    background-color: rgb(245, 245, 245);
}

header{
    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-size:x-large;
  font-weight: 700;
  font-style: italic;

  text-align:center;
  color: white;

  font-variation-settings:
    "wdth" 100;
}
#mapa 
{
    height: 1000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px;
}
