<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_a1a93416ff6c3344ed4a9e187f4d9bbd {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_a1a93416ff6c3344ed4a9e187f4d9bbd" ></div>
        
</body>
<script>
    
    
            var map_a1a93416ff6c3344ed4a9e187f4d9bbd = L.map(
                "map_a1a93416ff6c3344ed4a9e187f4d9bbd",
                {
                    center: [-8.35, -74.6972],
                    crs: L.CRS.EPSG3857,
                    maxBounds: [[-30, -55], [20, -95]],
                    zoom: 6,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_4077e4f8d67a3f8aea867edccd0d4451 = L.tileLayer(
                "https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}{r}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors \u0026copy; \u003ca href=\"https://carto.com/attributions\"\u003eCARTO\u003c/a\u003e", "detectRetina": false, "maxNativeZoom": 20, "maxZoom": 15, "minZoom": 5, "noWrap": false, "opacity": 1, "subdomains": "abcd", "tms": false}
            );
        
    
            tile_layer_4077e4f8d67a3f8aea867edccd0d4451.addTo(map_a1a93416ff6c3344ed4a9e187f4d9bbd);
        
    
            var circle_marker_ae4f2ea4ebdf587534c943ba9598cd0b = L.circleMarker(
                [20.0, -55.0],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_a1a93416ff6c3344ed4a9e187f4d9bbd);
        
    
            circle_marker_ae4f2ea4ebdf587534c943ba9598cd0b.bindTooltip(
                `<div>
                     Upper Left Corner
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_d0242755f8baddf6e88bccc0fe708a4f = L.circleMarker(
                [-30.0, -55.0],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_a1a93416ff6c3344ed4a9e187f4d9bbd);
        
    
            circle_marker_d0242755f8baddf6e88bccc0fe708a4f.bindTooltip(
                `<div>
                     Lower Left Corner
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_a6a9341856b5dda0ab12e22ebdc769bf = L.circleMarker(
                [-30.0, -95.0],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_a1a93416ff6c3344ed4a9e187f4d9bbd);
        
    
            circle_marker_a6a9341856b5dda0ab12e22ebdc769bf.bindTooltip(
                `<div>
                     Lower Right Corner
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_ae84a0bec574cacaa07b1d726ec6981c = L.circleMarker(
                [20.0, -95.0],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_a1a93416ff6c3344ed4a9e187f4d9bbd);
        
    
            circle_marker_ae84a0bec574cacaa07b1d726ec6981c.bindTooltip(
                `<div>
                     Upper Right Corner
                 </div>`,
                {"sticky": true}
            );
        
</script>
</html>