.body{
    display: grid;
    min-height: 90vh;
    grid-template-rows: auto 1fr auto;
}
header{
    height: 100px;
    width: 1900px;
    background-color: rgb(255, 0, 51);
}
body {
    background-color: rgb(219, 219, 219);
}

header{
    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: italic;
  font-variation-settings:
    "wdth" 100;
}
#container {
    position: relative;
    width: 700px;
    height: 200px;
}
#search_value_range
{
    position:relative;
    left: -3%;
}

#local
{
    position: inherit;
}
#submit {
    margin: 3px;
    /*background-color: #f12323;*/
    /*color: #ffffff;*/
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.7em;
    padding: 4px 6px;
    width: 100px;
}
.txt_lbl {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  #search_range {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.search_lbl {
  display: flex;
  align-items: center;
  width: 48%;
}
/*maps*/
/**
 * @license
 * Copyright 2019 Google LLC. All Rights Reserved.
 * SPDX-License-Identifier: Apache-2.0
 */
/*
 * Always set the map height explicitly to define the size of the div element
 * that contains the map.
 */
 #map {
    height: 20%;
  }
  
  /*
   * Optional: Makes the sample page fill the window.
   */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }