{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>grafo output</title>
</head>
<body>
    <header>
        <h1 class="head">Salud al servicio de todos!</h1>
    </header>
    <div class="text" id="presentacion">
        Esta es una plataforma abierta a todo público, la cual tiene como
        objetivo ayudarte a encontrar el centro de salud más cercano a tu
        ubicación y la emergencia que tengas en Perú :D
    </div>
</body>
</html>