.body{
    display: grid;
    min-height: 90vh;
    grid-template-rows: auto 1fr auto;
}
header{
    height: 100px;
    width: 1900px;
    background-color: rgb(255, 0, 51);
}
body {
    background-color: rgb(219, 219, 219);
}

header{
    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: italic;
  font-variation-settings:
    "wdth" 100;
}
#container {
    display: flex;
    justify-content: space-between;
    width: 95%;
    height: 90%;
    overflow: hidden;
  }